@tailwind base;
@tailwind components;
@tailwind utilities;

/* globals.css */

/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Add any global styles you need */
body {
  font-family: 'Inter', sans-serif;
  background-color: #f9fafb; /* Ensure background color doesn't create lines */
}
